
<div class="todo-array btn-group" >
<%= listed2 %>
</div>


<a>(<%= comment.id %>)</a>
<div class="view"><%= comment.content %></div>




<a></a>
<a href="/comments#/<%= comment.id %>/destroy" class="destroy">kill</a>



