<div class="new_comment form span3">


<form  class="field1" height='1em' >
  <label for="title"> Title:</label>
  <input  rows="1" wrap="hard" type="text" name="title" class="title" value="<%= title %>" />


  <label for="direction"> direction:</label>
  <input  rows="1" type="checkbox" name="direction" class="direction" <%= direction ? 'checked="checked"' : '' %>  />

  
  <label for="content"> content:</label>
  <textarea  rows="1" wrap="hard" type="text" name="content" class="content" value="<%= content %>" />

<input type="submit" value="Submit">
</form>  
<input type='text' class='errors'>errors: </input>
</div>
